body{
  /* background: linear-gradient(blue,lightgreen); */
  background: url(bg-vid.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* text-shadow: 5px, 5px, 0px black; */
}
video
{
  right: 0%;
  bottom: 0%;
  min-width: 100%;
  min-height: 100%;
}
.welcome {
  position: absolute;
  border: 2px solid white;
  color: white;
  width: 200px;
  height: 100px;
  
  margin-top: 25%;
  margin-left: 600px;
  /* margin-bottom: 25%; */
  margin-right: auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.topleft {
  border-radius: 10px;
  /* border: 2px solid black; */
  /* background-color: black; */
  background-image: url(/aboutus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 200px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  /* background-color: black; */
}

.topright {
  border-radius: 10px;
  border: 2px solid white;
  /* background-position: absolute; */
  color: aliceblue;
  width: 250px;
  height: 200px;
  background-image: url(game.jpg);

   background-repeat: no-repeat;

  background-position: center;
  font-size: 2rem;
  text-align: center;
  /* text-shadow: 5px, 5px, 0px black; */
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  background-image: url(game.jpg);
  background-size: cover;
}
.topright:hover{
  background: url(game1.gif);
}

.bottomleft {
  border-radius: 10px;
  background-image: url(feedback.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 200px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  
}

.bottomright {
  border-radius: 10px;
  background-image: url(aboutus.jpg);
  background-color: black;
  background-size: cover;
  border: 2px solid white;
  color: aliceblue;
  width: 250px;
  height: 200px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

div:hover {
  color: aqua;
  /* -shadow: 5px, 5px, 0px red; */
}
.bottomleft:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}
.bottomright:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}.topleft:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}.topright:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}