
*{
  margin: 0;
}
video{
  position: absolute;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
}
.welcome {
  position: absolute;
  /* border: 2px solid violet; */
  font-size: 20px;
  color: white;
  font-weight: bold;
  width: 250px;
  height: 90px;
  margin-top: 25%;
  margin-left: 600px;
  padding: 10px;
  /* margin-bottom: 25%; */
  margin-right: auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.topleft {
  /* border-radius: 10px  ; */
  /* border: 2px solid black; */
  /* background-color: black; */
  background-image: url(/Amongimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 200px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  /* background-color: black; */
}

.topright {
  border-radius: 10px;
  /* background-position: absolute; */
  color: aliceblue;
  width: 250px;
  height: 200px;
  background-image: url(neon-arcade-game-machine-sign_73458-2114.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2rem;
  text-align: center;
  /* text-shadow: 5px, 5px, 0px black; */
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  background-size: cover;
}

.bottomleft {
  border-radius: 10px;
  background-image: url(feedback.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 200px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  
}

.bottomright {
  border-radius: 10px;
  background-image: url(aboutus.jpg);
  background-color: black;
  background-size: cover;
  border: 2px solid black;
  color: aliceblue;
  width: 250px;
  height: 200px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

div:hover {
  color: aqua;
  /* -shadow: 5px, 5px, 0px red; */
}
.bottomleft:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}
.bottomright:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}.topleft:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}.topright:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}